 bold  italic
Size
Vertical Size: 
10px
Horizontal Size: 
24px
Border
Border Radius: 
12px
Border Size: 
2px
 Box Shadow   /   inset
Vertical Position: 
1px
Horizontal Position: 
0px
Blur Radius: 
8px
Spread Radius: 
0px
 Text Shadow
Vertical Position: 
2px
Horizontal Position: 
3px
Blur Radius: 
0px
 prefix<a href="#" class="MYBUTTONFAQ">FAQ</a>

.MYBUTTONFAQ {
	box-shadow:inset 0px 1px 8px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:12px;
	border:2px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#262626;
	font-family:Impact;
	font-size:15px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:3px 2px 0px #ffee66;
}
.MYBUTTONFAQ:hover {
	background:linear-gradient(to bottom, #fc9e05 5%, #fae12d 100%);
	background-color:#ffab23;
}
.MYBUTTONFAQ:active {
	position:relative;
	top:1px;
}

        
