.controller.ds4 {
    background: url(https://imgur.com/87sZBPF.png);
    height: 3000px;
    width: 2000px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

.ds4.disconnected {
    background: url(https://imgur.com/C3v6QEw.png);
}

.ds4.disconnected div {
    display: none;
}

.ds4 .triggers {
    width: 1196px; /* Adjusted width */
    height: 180px; /* Adjusted height */
    position: absolute;
    left: 598px; /* Adjusted left position */
    top: 114px; /* Adjusted top position */
}

.ds4 .trigger {
    width: 199px; /* Adjusted width */
    height: 200%; /* Adjusted height */
    background: url(https://imgur.com/IUp3ReY.png);
    opacity: 0;
}

.ds4 .trigger.left {
    float: left;
}

.ds4 .trigger.right {
    float: right;
    background-position-x: 199px; /* Adjusted background position */
}

.ds4 .bumper {
    width: 400px; /* Adjusted width */
    height: 90px; /* Adjusted height */
    background: url(https://imgur.com/zAKIPyH.png) no-repeat;
    opacity: 0;
}

.ds4 .bumpers {
    position: absolute;
    width: 1346px; /* Adjusted width */
    height: 69px; /* Adjusted height */
    left: 524px; /* Adjusted left position */
    top: 396px; /* Adjusted top position */
}

.ds4 .bumper.pressed {
    opacity: 1;
}

.ds4 .bumper.left {
    /* -webkit-transform: rotateY(180deg); */
    /* transform: rotateY(180deg); */
    float: left;
}

.ds4 .bumper.right {
    float: right;
    transform: rotateY(180deg);
}

.ds4 .touchpad {
    width: 700px; /* Adjusted width */
    height: 600px; /* Adjusted height */
    position: absolute;
    left: 844px; /* Adjusted left position */
    top: 144px; /* Adjusted top position */
}

.ds4 .touchpad.pressed {
    background: url(https://imgur.com/RnJtoVN.png) no-repeat center;
    opacity: 1;
}

.ds4 .meta {
    width: 200px; /* Adjusted width */
    height: 200px; /* Adjusted height */
    position: absolute;
    left: 1096px; /* Adjusted left position */
    bottom: 787px; /* Adjusted bottom position */
}

.ds4 .meta.pressed {
    background: url(Home.png) no-repeat center;
}

.ds4 .p0 {
    background-position: 0 -18px; /* Adjusted position */
}
.ds4 .p1 {
    background-position: 0 -84px; /* Adjusted position */
}
.ds4 .p2 {
    background-position: 0 -147px; /* Adjusted position */
}
.ds4 .p3 {
    background-position: 0 -210px; /* Adjusted position */
}

.ds4 .arrows {
    position: absolute;
    width: 704px; /* Adjusted width */
    height: 92px; /* Adjusted height */
    top: 284px; /* Adjusted top position */
    left: 454px; /* Adjusted left position */
}

.ds4 .back, .ds4 .start {
    background: url(Select.png);
    width: 52px; /* Adjusted width */
    height: 86px; /* Adjusted height */
    opacity: 0;
}

.ds4 .start {
    position: absolute;
    left: 1092px; /* Adjusted left position */
    bottom: -60px; /* Adjusted bottom position */
}

.ds4 .back {
    position: absolute;
    left: 340px; /* Adjusted left position */
    bottom: -60px; /* Adjusted bottom position */
}

.ds4 .back.pressed, .ds4 .start.pressed {
    opacity: 1;
}

.ds4 .back {
    float: left;
}

.ds4 .start {
    float: right;
    background-position: 0px 0;
}

.ds4 .abxy {
    position: absolute;
    width: 340px; /* Adjusted width */
    height: 342px; /* Adjusted height */
    top: 400px; /* Adjusted top position */
    left: 1524px; /* Adjusted left position */
}

.ds4 .button {
    position: absolute;
    width: 82px; /* Adjusted width */
    height: 82px; /* Adjusted height */
    background: url(https://imgur.com/c0119HZ.png);
}

.ds4 .button.pressed {
    background-position-y: 82px; /* Adjusted background position */
}

.ds4 .a {
    background-position: 0 0;
    bottom: 0px;
    left: 116px; /* Adjusted left position */
}

.ds4 .b {
    background-position: -114px 0; /* Adjusted background position */
    top: 114px; /* Adjusted top position */
    right: -6px; /* Adjusted right position */
}

.ds4 .x {
    background-position: -226px 0; /* Adjusted background position */
    top: 114px; /* Adjusted top position */
}

.ds4 .y {
    background-position: 110px 0; /* Adjusted background position */
    left: 116px; /* Adjusted left position */
    bottom: 238px; /* Adjusted bottom position */
}

.ds4 .sticks {
    position: absolute;
    width: 728px; /* Adjusted width */
    height: 210px; /* Adjusted height */
    top: 696px; /* Adjusted top position */
    left: 844px; /* Adjusted left position */
}

.ds4 .stick {
    position: absolute;
    background: url(https://imgur.com/IDw2xio.png);
    height: 188px; /* Adjusted height */
    width: 188px; /* Adjusted width */
}

.ds4 .stick.pressed.left {
    background-position-x: -192px; /* Adjusted background position */
}

.ds4 .stick.pressed.right {
    background-position-x: -384px; /* Adjusted background position */
}

.ds4 .stick.left {
    top: 0;
    left: 0;
}

.ds4 .stick.right {
    top: calc(100% - 210px); /* Adjusted top position */
    left: calc(100% - 210px); /* Adjusted left position */
}

.ds4 .dpad {
    position: absolute;
    width: 250px; /* Adjusted width */
    height: 252px; /* Adjusted height */
    top: 440px; /* Adjusted top position */
    left: 572px; /* Adjusted left position */
}

.ds4 .face {
    background: url(https://imgur.com/J4A0E60.png);
    position: absolute;
}

.ds4 .face.up, .ds4 .face.down {
    width: 74px; /* Adjusted width */
    height: 104px; /* Adjusted height */
}

.ds4 .face.left, .ds4 .face.right {
    width: 104px; /* Adjusted width */
    height: 80px; /* Adjusted height */
}

.ds4 .face.up {
    left: 88px; /* Adjusted left position */
    top: 0;
    background-position: -74px 0px; /* Adjusted background position */
}

.ds4 .face.down {
    left: 88px; /* Adjusted left position */
    bottom: 0;
    background-position: 0px 0;
}

.ds4 .face.left {
    top: 80px; /* Adjusted top position */
    left: 0;
    background-position: 208px 0; /* Adjusted background position */
}

.ds4 .face.right {
    top: 80px; /* Adjusted top position */
    right: 0px; /* Adjusted right position */
    background-position: 104px 0; /* Adjusted background position */
}

.ds4 .face.pressed {
    background-position-y: 104px; /* Adjusted background position */
}

.ds4.half {
    margin-top: -450px; /* Adjusted margin-top */
}


}

/END PS4 White Controller Styling/ test one

